body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('../../resources/background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #f2f2f2;
}


/* Design the rest of the content */
.container {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}

h1 {
  color: #ff7b00;
  margin-bottom: 5px;
}

h2 {
  font-weight: normal;
  margin-top: 0;
  color: #ccc;
}

h3 {
  font-weight: normal;
  margin-top: 0;
  color: #ff7b00;
}

.about {
  margin-top: 40px;
  font-size: 1.1em;
}

.skills {
  margin-top: 30px;
}

.skill {
  margin-bottom: 20px;
}

.skill-name {
  margin-bottom: 5px;
}

.progress {
  background: #555;
  border-radius: 10px;
  overflow: hidden;
  height: 15px;
}

/* Add format for the progress bars*/
.progress-bar {
  height: 100%;
  text-align: right;
  padding-right: 5px;
  line-height: 15px;
  color: white;
}

.bar1 {
  width: 80%;
  background: #ff7b00;
}

.bar2 {
  width: 40%;
  background: #ff7b00;
}

.bar3 {
  width: 60%;
  background: #ff7b00;
}

.navbar {
    width: 100%;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 0 0 25px 25px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 35px;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 15px;
    color: #ff9100;
    transition: 0.3s ease;
    background: #ffffff88;
}

.navbar ul li a:hover {
    background: #ffd7a6;
    color: #a85c00;
}

.navbar ul li a.active {
    background: #ffb86b;
    color: white;
    box-shadow: 0 0 8px rgba(255, 150, 30, 0.6);
}
